body {
  background-color: #f7f7f7;
}

header {
  background-color: black;
}

header nav {
  background-color: blue;
}

header p {
  color: white;
}

main table {
  border: 1px solid black;
}

main table td {
  border: 1px solid black;
}

#dropdown1 li a {
  color: blue;
}
